{% extends "base.html" %}

{% block title %}Admin Login - Secret Santa Bot{% endblock %}

{% block content %}
<h1>Admin Login</h1>

<form method="POST" action="{{ url_for('main.admin_login') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required autofocus>
    </div>

    <button type="submit" class="btn">Login</button>
</form>
{% endblock %}
